<form [formGroup]="searchForm" (ngSubmit)="searchNews('')">
    
    <mat-form-field class="example-full-width">
        <mat-label></mat-label>
        <input matInput formControlName="primarySearch" >
    </mat-form-field><br>

    <mat-form-field>
        <input matInput [matDatepicker]="startDatePicker" formControlName="startDatePicker">
        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #startDatePicker></mat-datepicker>
    </mat-form-field><br>      

    <mat-form-field>
        <input matInput [matDatepicker]="endDatePicker" formControlName="endDatePicker">
        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker></mat-datepicker>
    </mat-form-field><br> 

    <button mat-button type="submit">search</button>    
</form>

<div *ngIf="newsSearchHits$ | async as newsSearchHits">
    <h3>hits: {{ newsSearchHits.hits }}</h3>
    <h3>time: {{ newsSearchHits.time }}</h3>
    <h3>offset: {{ newsSearchHits.offset }}</h3>
</div>
    <hr>
<div>
    <button mat-button (click)="searchNews('prev')">previous 10</button><button mat-button (click)="searchNews('next')">next 10</button>
</div>
<div>
    <ul>
        <li *ngFor="let item of (newsDocs$ | async); index as i" id="{{ item.pub_date}}">
            <div (click)="searchExchange(item.pub_date)">{{ item.pub_date | date:'fullDate':'+0000' }}</div> <br><br>
            <a href="{{ item.web_url }}" target="_blank">{{ item.web_url }}</a><br><br>
            {{ item.headline.main}} <br><br>
            {{ item.lead_paragraph}} <br><br><br>
        </li>
    </ul>
</div>

